.frontpage{
height: 600px;
background-color:black; 
display: flex;
justify-content: center;
}


.card img{
    
    height: 180px;
    border-radius:45%;
    width:fit-content ;
    margin-top: 25px;
    
    

}
.card{
display: flex;
align-items: center;
margin:auto;
flex-direction: column;
width: 300px;
background-color: black;
border-radius: 50px;
background-color: black;
position: relative;
height: 400px;
border: 1px solid white;
}
.info{
    color:white
}

.contcard{
    border: 1px solid grey; 
}

.iconscont{
    display: flex;
justify-content: space-around;
}
.icons{
    color:white;
    border:1px solid white;
    border-radius:50%;
    padding:3px;
}

.icons:hover{
    transform: scale(1.4);
    
    
    
}
