.navBar{
    width: 100%;
    background-color: green;
    height: 60px;
    margin-top: 0;

}
.tags{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    position: sticky;
    top: 0px;
}
.tags h3{
    margin-right:1500px;
    color:white
}

.t{
    background-color:#1b1a27;
    padding: 20px;
    width: 50%;
    text-align: center;
    
    
}
.t span{
    margin: 5px;
    padding: 10px;
    color:white;
    cursor:pointer
    
}

.t span:hover{
    color: #06b84e;
}