/*.hola-Mundo{
  
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
    
    @keyframes typing {
    
    from { width: 0}
    }
    
    @keyframes blink {
     50% { border-color: transparent}
    }*/





.cv {
  color: white;
  background-color: black;
  margin-top: -25px;
}
.cvtext {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.cvtext h1 {
  padding: 5px;
  border: 1px solid white;
  font-size: 15px;
  margin-top: 35px;
  border-radius: 5px;
}
.cvtext h1:hover {
  background-color: #06b84e;
}

.aboutme {
  background-color: black;
  margin-top: -25px;
  height: 400px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  margin-top: 50px;
  background-color: #1b1a27;
  border-radius: 50px;
  width: 600px;
  height: 350px;
  box-shadow: inset 0 0 10px white;
  padding: 35px;
  margin: auto;
  text-align: center;
  
}

.aboutskills {
  margin: auto;
}
